*{
    background-color: black;
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
    
}



.container{
    background: transparent;
}
form{
    border: solid white;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-left: 300px;
    width: 750px;   
}


h1{
    color: forestgreen; 
}

.email{
    display: flex;
    justify-content: center;

}

.email h3{
    margin-right: 50px;
}

.password{
    justify-content: center;
    margin-top: 20px;
    display: flex;
}

.button{
    margin-top: 20px;
}

button{
    border: solid forestgreen;
    cursor: auto;
}

.button a{
    text-decoration: none;
    font-weight: bolder;
    color: white
}

.heading h1{
    color: forestgreen;
    font-weight: bolder;
}






